.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
examples/**
.git/**
*.vsix
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
esbuild.js
tsconfig.json
.github/**
